@import url("node_modules/react-datepicker/dist/react-datepicker.css");
@import url("node_modules/react-select/dist/react-select.css");

.App {
  width: 320px;
  padding: 20px 0 20px;
}

.DatePicker {
  width: 220px;
  height: 36px;
}

.CurrencyPicker {
  width: 90px;
}

.ExpenseHeader h4,
.ExpenseHeader h5 {
    margin-top: 20px;
}

.ExpenseRow {
    margin-bottom: 10px;
}

.ExpenseRow.isNew {
    color: red;
}

.ExpenseInput input {
  width: 260px !important;
}
