@import url("node_modules/react-datepicker/dist/react-datepicker.css");

.App {
    width: 320px;
    padding: 15px 0 20px;
}

.AmountInput {
    float: left;
    width: 185px;
}

.DatePicker {
    float: right;
    width: 120px;
    margin-left: 10px;
    font-size: 16px;
}
