.ExpenseRow {
    overflow: auto;
    margin-top: -2px;
    padding: 0;
}

.ExpenseRow .list-group-item-heading,
.ExpenseRow .list-group-item-text {
    margin: 10px;
}

.ExpenseRow .date {
    margin: 0;
    padding: 10px 10px;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}

.ExpenseRow .close {
    margin: 7px 10px 0 0;
}

.ExpenseRow .note {
    margin-left: 20px;
    clear: both;
    font-style: italic;
}
