<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TravelLog</title>
    <link href="build/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="build/lib/react-datepicker.css" rel="stylesheet">
    <link href="build/lib/react-select.css" rel="stylesheet">
    <link href="build/bundle.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" id="content"></div>

    <script src="build/lib/jquery/dist/jquery.min.js"></script>
    <script src="build/lib/underscore/underscore-min.js"></script>
    <script src="build/lib/backbone/backbone-min.js"></script>
    <script src="build/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="build/bundle.js"></script>
  </body>
</html>
